#login {
	position: fixed;
	top: 50px;
	right: 100px;
	font-size: 50px;
}

#title {
	position: fixed;
	top: 50px;
	left: 100px;
	font-size: 50px;
}

#title-tail {
	position: fixed;
	top: 130px;
	left: 210px;
	font-size: 25px;
}

#div-link { 
	position: fixed;
	width: 5%;
	height: 40%;
	left: 0px;
}

#shopping {
	position: fixed;
	width: 5%;
	height: 7%;
	left: 0px;
	background-color: #947A92;	
	padding-top: 15px;
	opacity: 0.3;
}

#link2 {
	position: fixed;
	width: 5%;
	height: 7%;
	left: 0px;
	background-color: #ADADAD;
	margin-top: 5.1%;	
	padding-top: 15px;
}

#link3 {
	position: fixed;
	width: 5%;
	height: 7%;
	left: 0px;
	background-color: gray;
	margin-top: 10.2%;	
	padding-top: 15px;
}

#link4 {
	position: fixed;
	width: 5%;
	height: 7%;
	left: 0px;
	background-color: #947A92;
	margin-top: 15.3%;	
	padding-top: 15px;
}

#footer {
	position: relative;
	height: 30%;
}

span {
	color: #fff;
}